img{
    width: 30px;
    height: 30px;
    src: "https://cdn.icon-icons.com/icons2/1112/PNG/512/rightarrowcircularbutton_79271.png";
}


.checked {
    color: orange;
  }

  .main{
    background-image: linear-gradient(to left,#e2e0d1 ,#fafbf6 ,#e2e0d1);
  }