@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body,
ol,
ul,
td,
th {
  font-size: 12px;
  margin: 0;
}

body {
  color: #181818;
  background-color: #ffffff;
  display: block;
}

body,
p,
ol,
ul,
td,
th {
  /* font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  line-height: 18px;
  padding: 0;
}

.headerSignedOut {
  height: 370px;
  padding: 0;
  position: static;
  border: 0;
  background-color: #fff7e9;
  background-position: center 75px;
  background-repeat: no-repeat;
  background-size: auto 295px;
  min-width: 970px;
}

.headerNavSO {
  height: 65px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: static;
  border: 0;
  background-position: center;
  background-repeat: repeat-x;
  background-color: #f4f2e9;
}

.headerContainerSO {
  margin: 0 auto;
  text-align: left;
  width: 970px;
  position: relative;
}
.navBarSO {
  height: 65px;
  padding-top: 10px;
}

.headerSOContent {
  position: absolute;
  height: 370px;
  z-index: 1;
  right: 0;
  top: 0;
}

#createAccount {
  width: 250px;
  margin: 14px 6px 0 0;
  float: right;
  position: sticky;
  padding: 24px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  transition: 0.5s ease;
}

#createAccount h2 {
  margin-bottom: 10px;
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 14px;
  text-align: center;
}
